name: date

on:
  workflow_dispatch:
  
jobs:
  build: # job_id
    runs-on: ubuntu-latest
    
    steps:
      - run: date
      - name: Put current date into a variable
        run: echo "NOW=$hello" >> $GITHUB_ENV
      - name: Use variable
        run: echo "${{env.NOW}}"
        # env:
        #   NOW: Hello
