name: date

on:
  workflow_dispatch:
  
jobs:
  build: # job_id
    runs-on: ubuntu-latest
    env:
      start_date: ${{ vars.START_DATE }}
    
    steps:
      - run: date
      - name: Put current date into a variable
        run: echo "NOW=$(date +"%Y-%m-%d")" >> $GITHUB_ENV
      - name: Use variable
        run: |
          echo "$NOW"
          echo "$start_date"
      - name: condition
        run: |
          if ${{ env.NOW < env.start_date }}
          then 
            echo "now < start"
          else
            echo "now => start"
          fi
