name: date

on:
  workflow_dispatch:
  
jobs:
  build: # job_id
    runs-on: ubuntu-latest
    env:
      UEFAcancel_date: ${{ vars.UEFA_CANCEL_DATE }}
    
    steps:
      - run: date
      - name: Put current date into a variable
        run: echo "NOW=$(date +"%Y-%m-%d")" >> $GITHUB_ENV
      - name: Use variable
        run: |
          echo "$NOW"
          echo "$UEFAcancel_date"
      - name: condition
        run: |
          if ${{ env.NOW < env.UEFAcancel_date }}
          then 
            python UEFA_club_coef_parse_TLstandings.py
          fi
