name: file_export

on:
  workflow_dispatch:
  
jobs:
  build: # job_id
    runs-on: ubuntu-latest
    
    steps:
      - name: python check preset  
        run: python --version  # проверка версии python, предустановленой на вирт машине
      - name: repo checkout
        uses: actions/checkout@v4  # загрузка содержимого репозитория на вирт машину
      - name: list current folder
        run: ls  # отобразить содержимое текущей директории (команда терминала Ubuntu)
     # - name: Run script
     #   run: python proba.py
     # - name: list current folder
     #   run: ls
     # - name: open file
     #   run: cat file.txt
