# GitHubActions запускает Python, который создает файл в репозиторий
name: OS_soft_checkout

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '14 9 * * 0-6'  # каждый день в 9:14 UTC
    # - cron: '14 */6 * * *'  каждые 6 часов
  
jobs:
  build: # job_id
    runs-on: ubuntu-latest
    
    steps:
      - run: python --version
      # - name: Set up Python 3.10.11  # установка версии окружения
      #   uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
      #   with:
      #     python-version: "3.10.11"
      - name: repo checkout  # загрузка содержимого репозитория на вирт машину
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  
      - run: ls
      - run: pwd
      # setup Python 3.10.11 from tar
      - run: tar -xvzf Python-3.10.11.tgz
      # - run: chmod +x Python-3.10.11
      - run: sudo -s && cd Python-3.10.11
      - run: ls
      - run: pwd
      #- run: ./configure
      #- run: make
      #- run: make test
      #- run: sudo make install
      #- run: make clean        
      #- run: python --version
