# GitHubActions запускает Python, который создает файл в репозиторий
name: OS_soft_checkout

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '14 9 * * 0-6'  # каждый день в 9:14 UTC
    # - cron: '14 */6 * * *'  каждые 6 часов
  
jobs:
  build: # job_id
    runs-on: ubuntu-latest
    
    steps:
      - name: Set up Python 3.10  # установка версии окружения
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
        with:
          python-version: "3.10"
      - name: repo checkout  # загрузка содержимого репозитория на вирт машину
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  
      - name: list current folder  # проверка загрузки
        run: ls
      
