name: shedule

on:
  workflow_dispatch:
  #schedule:
  #  - cron: '*/30 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run a one-line script
        run: echo Hello, world!
