name: system_preparing

on:
  push:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: python check preset
        run: python --version
      - uses: actions/checkout@v3
      - name: list current folder
        run: ls
      - name: code execution
        run: sh proba.py
