name: system_preparing

on:
  workflow_dispatch:
  
jobs:
  build: # job_id
    runs-on: ubuntu-latest
    
    steps:
      - name: python check preset
        run: python --version
      - uses: actions/checkout@v4
      - name: list current folder
        run: ls
      - name: Run script
        run: python proba.py
# запуск скрипта и выгрузка результата в файл (артефакт)
      - name: Run script
        run: |
          python API_account_data.py > output.log
      - name: Upload output file  
        uses: actions/upload-artifact@v3
        with:
          name: output-log-file
          path: output.log
